:root {
  --red: #FF5555;
  --orange: #FFB86C;
  --yellow: #F1FA8C;
  --green: #50FA7B;
  --cyan: #8BE9FD;
  --violet: #BD93F9;
  --magenta: #FF79C6;
  --comment: #6272A4;
  --background: #282A36;
  --selection: #44475A;
  --foreground: #F8F8F2;
}

.red-color {
  color: var(--red);
}

.orange-color {
  color: var(--orange);
}

.yellow-color {
  color: var(--yellow);
}

.green-color {
  color: var(--green);
}

.cyan-color {
  color: var(--cyan);
}

.magenta-color {
  color: var(--magenta);
}

.bold {
  font-weight: bold;
}

.side-window {
  position: absolute;
  top: 0;
  right: -4em;
  font-size: 2rem;
  max-height: 50vh;
  overflow: scroll;
  color: var(--comment);
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 0.5em;
}

input {
  background-color: #44475A;
  border: none;
  outline: none;
  color: var(--r-main-color);
  padding: 0.5em;
  font-size: 1.3rem;
  min-width: 35ch;
}

#qrcode {
  display: flex;
  justify-content: center;
}

#qrcode img {
  padding: 0.2em;
  border: solid 2px var(--magenta);
  /* border-radius: 1em; */
}

.circuit-container {
  margin: auto;

  .joint-paper-background {
    background-color: var(--selection);
  }

  svg {

    .btnface {
      stroke: var(--background);
      transition: all ease-in-out 0.1s;

      &[fill="black"] {
        fill: var(--green);
      }
    }

    .joint-link path.connection {
      stroke: var(--orange);
    }

    .joint-cell circle.led[fill="#03c03c"] {
      fill: var(--green);
      filter: drop-shadow(0px 0px 10px var(--green));
      transition: all ease-in-out 0.2s;
    }

    .joint-cell circle.led[fill="#fc7c68"] {
      fill: var(--orange);
    }

    .joint-link path.connection[stroke="#03c03c"] {
      stroke: var(--green) !important;
      filter: drop-shadow(0px 0px 1px var(--green));
    }

    .joint-element .body {
      stroke: var(--comment);
      fill: var(--foreground);
    }

    .joint-port-body {
      .port {
        stroke: var(--orange);
        stroke-width: 5px;
      }

      .port[stroke="#03c03c"] {
        stroke: var(--green);
      }

      .wire {
        stroke: var(--background);
        stroke-width: 5px;
      }
    }

    text.label {
      fill: var(--foreground);
    }

    text.type {
      fill: var(--comment);
    }
  }

  .tooltip select {
    left: 0;
  }

  .valinput input {
    left: 0;
  }

}

.scroll {
  overflow: scroll;
  max-height: 50vh;
}
